@mixin decorate-link($line_color:#007bff, $line_opacity:0.5, $line_full_opacity:1, $line_height:2px) {
  background-image: linear-gradient(transparent 0%, transparent calc(50% - #{$line_height}), rgba($line_color, $line_opacity) calc(50% - #{$line_height}), rgba($line_color, $line_opacity) 100%);
  background-size: 100% 200%;
  transition: background-position 120ms ease-in-out 0s,
    padding 120ms ease-in-out 0s;
  background-position: 0px 0px;
  text-decoration: none;

  &.initial-none {
    background-image: linear-gradient(transparent 0%, transparent calc(50% - #{$line_height}), transparent calc(50% - #{$line_height}), transparent 100%);
  }

  &:hover {
    background-image: linear-gradient(transparent 0%, transparent calc(50% - #{$line_height}), rgba($line_color, $line_full_opacity) calc(50% - #{$line_height}), rgba($line_color, $line_full_opacity) 100%);
    background-position: 0px 20%;
    text-decoration: none;
  }



  &>svg {
    @apply inline-block pointer-events-none;
  }
}
